*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
    background-color: orangered;
}
h1{
    margin-left: 20px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: orangered;
}
table{
    margin: 20px;
}

@media screen and (max-width:768px){
    h1{
        font-size: 20px;
    }
}